

.homeDetail{
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail{
    width: 50%;
    padding: 10px;
}

.hello{
    color: green;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.name{
    color: green;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.iam{
    color: green;
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.fullStact{
   font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 700;
    line-height: 1.2; 
}
.description{
    color: green;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.icons{
    margin-top: 1.5rem;
    display: flex;
}

.icon{
    width: 30px;
    margin: 10px;
}

.resume{
    background-color: green;
    cursor: pointer;
    font-weight: 700;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.image{
    width: 50%;
}

.profile{
    width: 60%;
    margin-left: 30%;
    overflow: hidden;
    padding: .25rem;
}
.box{
    margin-left: 30px;
}

@media (max-width:980px) {
    .image{
        width: 40%;
    }
    .detail{
        width: 60%;
    }
}

@media (max-width:770px) {
    .image{
        display: none;
    }
    .detail{
        width: 95%;
    }
}